
/* BASE */

#header{

   padding-top: 20px;
    
}

.title {
    font-size: 2.5em;
    margin: 15px 0px 30px;
    text-align: right;
    float: right;
}


h1{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

 h2, h3, h4{
     font-size: 1.5em;
}


.author{
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-position: left top;
  margin-top: 20px;
  background-size: 20%;
  padding-top: 85px;
}

.date{
  text-align: right;
  float: right;
  margin-top: -35px;
}

h2{
  font-weight: bold;
  margin-top: 45px;
}

img{
    margin-top: 10px;
    margin-bottom: 10px;
}